<section class="bestsellers container" id="bestsellers">
    <div class="bestsellers-section-wrapper">
        <h2 class="bestsellers-section-title"><span class="span-top">Top</span> sellers</h2>
        <ul class="bestsellers-list">
            <li class="bestsellers-item-one">
                <div class="bestsellers-item-wrapper">
                    <div class="bestsellers-content">
                        <p class="bestsellers-content-par">Chocolate with nuts is an incredible combination of two taste pleasures. When delicate and silky chocolate meets crunchy and tasty nuts, a real culinary pleasure arises.</p>
                    </div>
                    <div class="bestsellers-png">
                        <picture>
                            <source srcset="./img/bestsellers/choc-w-nuts-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/bestsellers/choc-w-nuts-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/bestsellers/choc-w-nuts.webp" alt="Chocolate with nuts">
                        </picture>
                    </div>
                </div>
                <h3 class="bestsellers-item-title">Chocolate with nuts</h3>
            </li>
            <li class="bestsellers-item-two">
                <div class="bestsellers-item-wrapper">
                    <div class="bestsellers-content">
                        <p class="bestsellers-content-par">Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
                    </div>
                    <div class="bestsellers-png">
                        <picture>
                            <source srcset="./img/bestsellers/choc-w-friuts-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/bestsellers/choc-w-friuts-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/bestsellers/choc-w-friuts.webp" alt="Chocolate with fruits">
                        </picture>
                    </div>
                </div>
                <h3 class="bestsellers-item-title">Chocolate with fruits</h3>
            </li>
            <li class="bestsellers-item-three">
                <div class="bestsellers-item-wrapper">
                    <div class="bestsellers-content">
                        <p class="bestsellers-content-par">Cocoa is a natural product obtained from the fruits of the cocoa tree (Theobroma cacao). This tropical fruit contains beans, from which cocoa mass, cocoa powder and chocolate are made.</p>
                    </div>
                    <div class="bestsellers-png">
                        <picture class="bestsellers-pctr">
                            <source srcset="./img/bestsellers/dark-choc-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/bestsellers/dark-choc-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/bestsellers/dark-choc.webp" alt="Dark chocolate">
                        </picture>
                    </div>
                </div>
                <h3 class="bestsellers-item-title">Dark chocolate</h3>
            </li>
        </ul>
    </div>
</section>