<footer class="footer" id="footer">
    <div class="footer-section-wrapper">
        <div class="ftr-top-wrapper">
            <h2 class="footer-section-title"><span class="footer-span">Chocolate</span> a delicious cure for a bad day</h2>
            <div class="contact-us">
                <h3 class="contact-us-title">Contact us</h3>
                <ul class="contact-list">
                    <li class="contact-item">
                        <a href="tel:+11111111111">+11 (11) 111-11-11</a>
                    </li>
                    <li class="contact-item">
                        <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="footer-socials-wrapper">
                <h3 class="footer-socials-title">Social networks</h3>
                <ul class="footer-socials-list">
                    <li class="footer-socials-item">
                        <a href="https://www.instagram.com/">
                            <svg class="footer-socials-icon" width="20px" height="20px">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials-item">
                        <a href="https://facebook.com/">
                            <svg class="footer-socials-icon" width="20px" height="20px">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials-item">
                        <a href="https://x.com/">
                            <svg class="footer-socials-icon" width="20px" height="20px">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ftr-bottom-wrapper">
            <ul class="footer-nav">
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="./index.html">Home</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#process">How it's made?</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#products">Our products</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#bestsellers">Top sellers</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#reviews">Chocolate is loved</a>
                </li>
            </ul>
            <form class="footer-form">
                <label class="form-laber">
                    <input type="email" name="email-footer" placeholder="Enter your email" class="form-input">
                </label>
                <button class="footer-form-btn">Subscribe</button>
            </form>
        </div>
    </div>
</footer>