<header id="header" class="header container">
    <div class="header-container">
        <a href="./index.html" class="logo-link">
            <p class="logo-text"><span class="logo-simply">Simply</span> chocolate</p>
            <svg class="logo-icon" width="21px" height="21px">
                <use href="./img/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <nav class="menu-nav">
            <a href="./index.html" class="menu-nav-item">Home</a>
            <a href="#process" class="menu-nav-item">How it's made?</a>
            <a href="#reviews" class="menu-nav-item">Chocolate is loved</a>
        </nav>
        <ul class="menu-socials-list">
            <li class="menu-socials-item">
                <a href="https://www.instagram.com/">
                    <svg class="menu-socials-icon" width="20px" height="20px">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="menu-socials-item">
                <a href="https://facebook.com/">
                    <svg class="menu-socials-icon" width="20px" height="20px">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="menu-socials-item">
                <a href="https://x.com/">
                    <svg class="menu-socials-icon" width="20px" height="20px">
                        <use href="./img/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="burger-btn js-open-mobile-menu">
            <svg class="burger-icon" width="28px" height="28px">
                <use href="./img/icons.svg#icon-burger"></use>
            </svg>
        </button>
    </div>

<!-- Mobile menu -->

<div class="mobile-menu js-menu-container">
    <div class="open-mob-menu">
        <button class="menu-btn-close js-close-mobile-menu" type="button" aria-label="Close menu button">
            <svg class="menu-btn-close-icon" width="28px" height="28px">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
    </div>

    <nav>
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="./index.html">Home</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#process">How it's made?</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link" href="#reviews">Chocolate is loved</a>
            </li>
        </ul>
    </nav>

    <ul class="menu-socials-list-mob">
        <li class="menu-socials-item-mob">
            <a href="https://www.instagram.com/">
                <svg class="menu-socials-icon-mob" width="20px" height="20px">
                    <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="menu-socials-item-mob">
            <a href="https://facebook.com/">
                <svg class="menu-socials-icon-mob" width="20px" height="20px">
                    <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        <li class="menu-socials-item-mob">
            <a href="https://x.com/">
                <svg class="menu-socials-icon-mob" width="20px" height="20px">
                    <use href="./img/icons.svg#icon-twitter"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
</header>