<section class="hero container" id="hero">
    <div class="hero-container">
        <div class="hero-wrapper">
            <h1 class="head-one">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
            <div class="tablet-desktop-hero-wrapper">
                <div class="hero-btn-wrapper">
                    <a href="" class="buy-now-btn">Buy now</a>
                    <a href="" class="how-made-btn">How it's made</a>
                </div>
                <div class="scroll-down-wrapper">
                    <p class="scroll-down-text">scroll down</p>
                    <a href="" class="scroll-down-btn">
                        <svg class="scroll-down-icon" width="16px" height="16px">
                            <use href="./img/icons.svg#icon-arrow-down"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>