<section class="ingredients container" id="ingredients">
    <div class="ingredients-section-wrapper">
        <h2 class="ingredients-section-title">It all adds up to one exceptional <span class="span-taste">taste</span> sensation</h2>
        <div class="ingredients-wrapper">
            <ul class="ingredients-list">
                <li class="ingredients-item-orange">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Milk chocolate</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Chocolate</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/choco-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/choco-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/choco.png" alt="chocolate">
                        </picture>
                    </div>
                    <h3 class="ingredients-title">Milk chocolate</h3>
                </li>
                <li class="ingredients-item-white">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Milk</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Milk</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/milk-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/milk-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/milk.png" alt="milk">
                        </picture>
                    </div>
                    <h3 class="ingredients-title-black">Milk</h3>
                </li>
                <li class="ingredients-item-black">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Nuts</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Nuts</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/nuts-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/nuts-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/nuts.png" alt="nuts">
                        </picture>
                    </div>
                    <h3 class="ingredients-title">Nuts</h3>
                </li>
                <li class="ingredients-hidden ingredients-item-white">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Semi - sweet chocolate</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Sweet chocolate</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/roasted-beans-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/roasted-beans-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/roasted-beans.png" alt="roasted beans">
                        </picture>
                    </div>
                    <h3 class="ingredients-title-black">Semi - sweet chocolate</h3>
                </li>
                <li class="ingredients-hidden ingredients-item-orange">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Cacao</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Cacao</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Cocoa is a natural product obtained from the fruits of the cocoa tree (Theobroma cacao). This tropical fruit contains beans, from which cocoa mass, cocoa powder and chocolate are made. The history of the use of cocoa goes back to ancient times. Already in ancient Mesoamerica, the Mayan and Aztec civilizations used cocoa in their culture and rituals</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/choco-beans-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/choco-beans-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/choco-beans.png" alt="choco beans">
                        </picture>
                    </div>
                    <h3 class="ingredients-title">Cacao</h3>
                </li>
                <li class="ingredients-hidden ingredients-item-white">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Raspberry</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Raspberry</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Raspberry is a tasty and aromatic berry plant that is popular all over the world. It belongs to the pink family and grows in many regions, including North America, Europe and Asia. Raspberries have many varieties and color variations, from red to yellow and black.</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/raspberry-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/raspberry-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/raspberry.png" alt="raspberry">
                        </picture>
                    </div>
                    <h3 class="ingredients-title-black">Raspberry</h3>
                </li>
                <li class="ingredients-hidden ingredients-item-black">
                    <div class="ingredients-content">
                        <h3 class="ingredients-content-title">Coconut oil</h3>
                        <div class="tags-wrapper">
                            <p class="ingredients-tag-orange">Coconut oil</p>
                            <p class="ingredients-tag-white">The benefits</p>
                        </div>
                        <p class="ingredients-content-text">Cocoa is a natural product obtained from the fruits of the cocoa tree (Theobroma cacao). This tropical fruit contains beans, from which cocoa mass, cocoa powder and chocolate are made. The history of the use of cocoa goes back to ancient times. Already in ancient Mesoamerica, the Mayan and Aztec civilizations used cocoa in their culture and rituals</p>
                    </div>
                    <div  class="ingredients-png">
                        <picture>
                            <source srcset="./img/ingredients/coconut-3x.png" media="(min-resolution: 288dpi)">
                            <source srcset="./img/ingredients/coconut-2x.png" media="(min-resolution: 192dpi)">
                            <img src="./img/ingredients/coconut.png" alt="coconut">
                        </picture>
                    </div>
                    <h3 class="ingredients-title">Coconut oil</h3>
                </li>
            </ul>
        </div>
    </div>
</section>