<section class="process container" id="process">
    <div class="process-wrapper">
        <h2 class="process-title">How it's <span class="span-made">made</span>?</h2>
        <div class="film-wrapper">
            <div class="film-images-wrapper-wrapper">
                <div class="film-images-wrapper">
                    <div class="svg-wrapper">
                        <svg class="play-icon">
                            <use href="./img/icons.svg#icon-play"></use>
                        </svg>
                    </div>
                    <picture class="process-paused">
                        <source srcset="./img/process/film-3x.webp" media="(min-resolution: 288dpi)">
                        <source srcset="./img/process/film-2x.webp" media="(min-resolution: 192dpi)">
                        <img src="./img/process/film.webp" alt="Chocolate making process" class="process-paused">
                    </picture>
                </div>
            </div>
            <div class="process-description">
                <h3 class="process-description-title">Try  our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="process-description-list">
                    <li class="process-description-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
                    <li class="process-description-item">At the same time, prepare a water bath. Melt the butter on it.</li>
                    <li class="process-description-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
                    <li class="process-description-item">Heat the mixture over low heat, letting it barely boil.</li>
                    <li class="process-description-item">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
                </ul>
            </div>
        </div>
    </div>
</section>