<section class="process container" id="process">
    <div class="process-wrapper">
        <h2 class="process-title">How it's made?</h2>
        <div class="film-wrapper">
            <picture>
                <source srcset="../img/process/film-3x.webp" >
            </picture>
            <div class="process-description">
                <h3 class="process-description-title"></h3>
                <ul class="process-description-list">
                    <li class="process-description-item"></li>
                    <li class="process-description-item"></li>
                    <li class="process-description-item"></li>
                    <li class="process-description-item"></li>
                    <li class="process-description-item"></li>
                </ul>
            </div>
        </div>
    </div>
</section>