<section class="products container" id="products">
    <div class="products-section-wrapper">
        <h2 class="products-section-title">Our <span class="span-products">products</span></h2>
        <div class="products-wrapper">
            <ul class="products-list">
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/orange-bar-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/orange-bar-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/orange-bar.webp" alt="Dark chocolate bar with orange taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Orange</h3>
                    <p class="products-content-text">Dark chocolate</p>
                    <button class="products-content-btn">45 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/apple-cran-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/apple-cran-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/apple-cran.webp" alt="Milk chocolate bar with apple and cranberry taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Apple & cranberry</h3>
                    <p class="products-content-text">Milk chocolate</p>
                    <button class="products-content-btn">50 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/lime-salt-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/lime-salt-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/lime-salt.webp" alt="Dark chocolate bar with lime and sea salt taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Lime & sea salt</h3>
                    <p class="products-content-text">Dark chocolate</p>
                    <button class="products-content-btn">66 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/pineapple-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/pineapple-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/pineapple.webp" alt="Dark chocolate bar with pineapple taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Pineapple</h3>
                    <p class="products-content-text">Dark chocolate</p>
                    <button class="products-content-btn">54 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/classic-1-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/classic-1-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/classic-1.webp" alt="Milk chocolate bar with classic taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Classic</h3>
                    <p class="products-content-text">Milk chocolate</p>
                    <button class="products-content-btn">45 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/honey-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/honey-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/honey.webp" alt="Milk chocolate bar with honey taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Honey</h3>
                    <p class="products-content-text">Milk chocolate</p>
                    <button class="products-content-btn">50 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/roast-fr-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="/img/products/roast-fr-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="/img/products/roast-fr.webp" alt="Dark chocolate bar with roasted fruits taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Roasted fruits</h3>
                    <p class="products-content-text">Dark chocolate</p>
                    <button class="products-content-btn">66 uah</button>
                </li>
                <li class="products-item">
                    <div  class="products-png">
                        <picture>
                            <source srcset="./img/products/classic-2-3x.webp" media="(min-resolution: 288dpi)">
                            <source srcset="./img/products/classic-2-2x.webp" media="(min-resolution: 192dpi)">
                            <img src="./img/products/classic-2.webp" alt="White chocolate bar with classic taste">
                        </picture>
                    </div>
                    <h3 class="products-content-title">Classic</h3>
                    <p class="products-content-text">White chocolate</p>
                    <button class="products-content-btn">54 uah</button>
                </li>
            </ul>
        </div>
    </div>
</section>