<section class="reviews container" id="reviews">
    <div class="reviews-section-wrapper">
        <h2 class="reviews-section-title"><span class="span-reviews-ttl">Chocolate</span> is loved</h2>
        <div class="reviews-wrapper">
            <ul class="reviews-list">
                <li class="reviews-item-one">
                    <img class="user-photo" src="./img/reviews/vika-3x.webp" alt="Victoria's photo" width="80px" height="80px">
                    <div class="review-content">
                        <h3 class="user-name">Victoria Dobrzhanska</h3>
                        <p class="review">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                    </div>
                </li>
                <li class="reviews-item-two">
                    <img class="user-photo" src="/img/reviews/nazar-3x.webp" alt="Nazar's photo" width="80px" height="80px">
                    <div class="review-content">
                        <h3 class="user-name">Nazar Babenko</h3>
                        <p class="review">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                    </div>
                </li>
                <li class="reviews-item-three">
                    <img class="user-photo" src="./img/reviews/olena-3x.webp" alt="Olena's photo" width="80px" height="80px">
                    <div class="review-content">
                        <h3 class="user-name">Olena Kampusch</h3>
                        <p class="review"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
                    </div>
                </li>
            </ul>
        </div>
        <button class="leave-rvw-btn" id="openModal">Leave a review</button>
    </div>
</section>