
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 35px;
}

.logo-link {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

.logo-simply {
    font-style: italic;
}

.logo-icon {
    stroke: #FD9222;
    fill: none;
}

.menu-nav {
    display: none;
}

.menu-socials-list {
    display: none;
}

.burger-btn {
    background-color: transparent;
}

.burger-icon {
    stroke: #111111;
}

/*   Mobile menu   */

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 136px 20px 20px;
    background-color: #111111;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    transform: translateX(+100%);
    transition: transform 0.5s ease-in-out;
}

.mobile-menu.is-open {
    display: flex;
    transform: translateX(0);
}

.no-scroll {
    overflow: hidden;
}

.menu-btn-close {
    border: none;
    background-color: transparent;

}

.mobile-menu-item {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 18px;
}

.menu-btn-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    stroke: #FFFFFF;
    fill: none;
}

.mobile-menu-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-socials-list-mob {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.menu-socials-icon-mob {
    stroke: #FFFFFF;
    fill: none;
}


@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .menu-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .menu-nav-item {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: 18px;
    }

    .menu-socials-list {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
    }
    
    .menu-socials-icon {
        stroke: #111111;
        fill: #FFFFFF;
    }
}

@media screen and (min-width: 1200px) {

}