@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./ingredients.css');
@import url('./process.css');
@import url('./products.css');
@import url('./bestsellers.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./popup.css');
@import url('./modal.css');
@import url('./header.css');

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/src/fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/src/fonts/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/src/fonts/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/src/fonts/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/src/fonts/Montserrat-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

:root {
  color: #111111;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
